body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.tarjeta {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
.imagen-osito {
    width: 250px; /* Ajustá este valor para cambiar el tamaño */
    max-width: 100%; /* Para que no se rompa en pantallas pequeñas */
    height: auto; /* Mantiene la proporción original sin deformar */
}
